		<footer>

			<div class="Main">
				<div class="PageGroup PageGroup_FooterColumn1">
					<div class="Column">
						<div class="Widget Widget_BasicWidgets_HTML">
							<div class="Row">
								<div class="Heading">Section 1</div>
								<div class="Content">This is some sample content for section 1</div>
							</div>
						</div>
						<div class="Widget Widget_BasicWidgets_HTML">
							<div class="Row">
								<div class="Heading">Quick Links</div>
								<div class="Content">
									<ul>
										<li>Item 1</li>
										<li>Item 2</li>
										<li>Item 3</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="PageGroup PageGroup_FooterColumn2">
					<div class="Column">
						<div class="Widget Widget_BasicWidgets_HTML">
							<div class="Row">
								<div class="Heading">Section 2</div>
								<div class="Content">
										<p>This is a random paragraph of information for content section 2 of this responsive
										template. Much information can fit within this template and this is but a small
										portion of that. Too much writing of irrelevent copy can lead to a headache but
										I'm going to soldier on fill this section in.</p>
										<p>This is a random paragraph of information for content section 2 of this responsive
										template. Much information can fit within this template and this is but a small
										portion of that. Too much writing of irrelevent copy can lead to a headache but
										I'm going to soldier on fill this section in.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="PageGroup PageGroup_FooterColumn3">
					<div class="Column">
						<div class="Widget Widget_BasicWidgets_HTML">
							<div class="Row">
								<div class="Heading">Section 3</div>
								<div class="Content">
										<p>This is a random paragraph of information for content section 2 of this responsive
										template. Much information can fit within this template and this is but a small
										portion of that. Too much writing of irrelevent copy can lead to a headache but
										I'm going to soldier on fill this section in. Too much writing of irrelevent copy can lead to a headache but
										I'm going to soldier on fill this section in.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="Bottom">
				<div class="Left">
					<div class="PageGroup PageGroup_FooterBottomRowLeft">
						<div class="Widget Widget_BasicWidgets_HTML">
							<p><span>Copyright, Darren Smith 2014</span></p>
						</div>
					</div>
				</div>
				<div class="Right">
					<div class="PageGroup PageGroup_FooterBottomRowRight">
						<div class="Widget Widget_BasicWidgets_HTML">
							<p><span>Made with HTML5</span></p>
						</div>
					</div>
				</div>
			</div>

		</footer>