/*
	CSS for main content
*/

.SiteContent {
	position:relative;
	z-index:1;
	margin-top:70px;
	margin-left:3%;
	margin-right:3%;
}

@media screen and (max-width : 760px){
	.SiteContent {
		margin-left:10%;
		margin-right:10%;
	}
}