		<header>

			<div class="PageGroup PageGroup_SiteTitle">
				<div class="Widget Widget_BasicWidgets_HTML">
					<div class="SiteTitle">
						<p><span>Sample Site</span></p>
					</div>
				</div>
			</div>

			<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox"/>
			<nav class="menu">
				<div class="PageGroup PageGroup_TopMenu">
					<div class="Widget Widget_BasicWidgets_HTML">
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Blog</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<label for="navbar-checkbox" class="navbar-handle">
				<div class="toggleLine"></div>
				<div class="toggleLine"></div>
				<div class="toggleLine"></div>
			</label>

		</header>

		<div class="SpacerStrip"></div>